{% extends 'base.html' %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}
<div class="page-container">
    <div class="profile-title">
        <h5>{{ user.username }}'s Profile</h5>
        {% if g.user %}
            <a href="/profile/{{ g.user.user_id }}/edit">Edit Profile</a>
        {% endif %}
    </div>
    <div class="container">
        <div class="row">
            <div class="col-3 left-panel">
                <div class="profile-image-container">
                    {% if user.profile_image %}
                        <img src="{{ user.profile_image }}">
                    {% endif %}
                    {% if not user.profile_image %}
                        <h5> No Profile Image</h5>
                    {% endif %}
                </div>
                <div class="list-container">
                    <h6>{{ user.username }}'s List</h6>
                    <a href="/vglist/{{ user.user_id }}" class="btn btn-primary">Game List</a>
                </div>
                <div class="stats-container">
                    <h6>{{ user.username }}'s Contributions</h6>
                    <p><a href="/reviewlist/{{ user.user_id }}"> Reviews: {{ num_reviews }}</a></p>
                </div>
            </div>
            <div class="col-9 right-panel">
                <div class="biography-container">
                    <h5>About {{ user.username }}</h5>
                    {% if user.bio %}
                        <p>{{ user.bio }}</p>
                    {% endif %}
                    {% if not user.bio %}
                        <p>No biography yet.</p>
                    {% endif %}
                </div> 
                <div class="statistics-section">
                    <div class="stats-section-title">
                        <h5>Game Stats:</h5>
                    </div>
                    <div class="stats">
                        <div class="games-played">
                           <p>Games: <span>{{ num_ratings }}</span></p>
                        </div>
                        <div class="mean-score">
                            <p>Mean Score: <span>{{ mean_score }}</span></p>
                        </div>
                    </div>   
                </div>
            </div>    
        </div>
    </div>
</div>
{% endblock %}