{% extends 'base.html' %}

{% block title %} All Genres {% endblock %}

{% block content %}
<div>
    <div class="gamelist-title">
        <h5> Game Genres</h5>
    </div>
    <div class="container">
        <ul class="list-group">
            {% for genre in genres %}
            <li class="list-group-item">
                <a href="/genres/{{ genre.genre_id }}">{{ genre.genre_name }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}