{% extends 'base.html' %}

{% block content %}
<div>
    <div class="gamelist-title">
        <h5>{{ genre.genre_name }}</h5>
    </div>
    <div class="sub-title">
        <h5>Showing {{ game_count }} games</h5> 
    </div>
    <div>
        <ul class="list-group">
            {% for game in genre.games %}
                <li class="list-group-item"><a href="/games/{{ game.game_id }}">{{ game.title }}</a></li>
            {% endfor %}
        </ul>   
    </div>
</div>
{% endblock %}