.announcements {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.announcements h5 {
    border-bottom: 2px solid lightgray;
    padding-bottom: 5px;
}

.game-news {
    margin-top: 5px;
    margin-bottom: 5px;
}

.game-news h5 {
    border-bottom: 2px solid lightgray;
    padding-bottom: 5px;
}

.latest-reviews {
    margin-top: 5px;
    margin-bottom: 5px;
}

.latest-reviews h5 {
    border-bottom: 2px solid lightgray;
    padding-bottom: 5px;
}



